#content {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: calc(100vh - var(--ntp-one-google-bar-height));
	min-width: fit-content;
	padding-top: var(--ntp-one-google-bar-height);
	position: relative;
	z-index: 1;
}
